<div class="jumbotron my-3">
  <div class="row">

    <div class="col-sm-6">
      <app-progress></app-progress>
    </div>

    <div class="col-sm-6">
      <app-tentativas></app-tentativas>
    </div>
  </div>
  <div class="row">

    <div class="col-12">
      <div class="form-group">
        <div class="row">
          <span class="col-12 my-1"><strong>Traduza uma frase:</strong></span>
          <span class="col-12 my-1">How are you?</span>

          <div class="col-12 my-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="col-12">
            <button type="button" class="btn btn-primary float-right">Verificar</button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
